# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.user
*.log

#path
.codacy/
.trae/
.vscode/
build/
docs/
debug/
release/
logs/
scripts/

#files
需求文档.md
REQUIREMENTS.md